<h2><%= @loading.name %></h2>
<p><%= @loading.address %></p>
    <% @loading.materials.each do |material| %>
      <p><%= material.name %></p>
      <p><%= material.quantity %></p>
    <% end %>


<%= link_to "Delete Loading",
            delivery_path(@loading),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
