<div class="head_deliveries">
    <%= link_to delivery_path(Delivery.find(@loading.delivery_id)) do %>
      <%= icon('fa-solid', 'angles-left') %>
    <% end %>
    <h1><%= @loading.name %></h1>
</div>

<div class="container py-4">
  <div class="card-delivery">


    <div class="card-delivery-infos">
      <p><%= link_to delivery_path(Delivery.find(@loading.delivery_id)) do %>
            <%= icon('fa-solid', 'backward-step')  %>
          <% end %>
           <strong>Location:</strong> <%= @loading.address %></p>
          <% @loading.loadingmaterials.each do |loadingmaterial| %>
            <p><%if loadingmaterial.quantity > 0 %>
              <%= icon('fa-solid', 'circle-arrow-up') %>
              <strong><%= loadingmaterial.quantity %></strong> pallets of <strong><%= loadingmaterial.material.name %></strong></p>
            <%else %>
              <%= icon('fa-solid', 'circle-arrow-down') %>
              <strong><%=  - loadingmaterial.quantity %></strong> pallets of <strong><%= loadingmaterial.material.name %></strong></p>
            <%end %>
          <% end %>
      <p><%= check_box_tag 'done', @loading.id, @loading.done,
      data: {
        remote: true,
        url: url_for(action: :toggle, id: @loading.id),
        method: "POST"
      } %> Complete</p>

      <div>

    </div>
  </div>

</div>

  <% if current_user.function == "manager" %>
<p> <strong>Give the driver the materials to load/unload</strong>
<%= simple_form_for([ @loading, @loadingmaterial ]) do |f| %>
  <%= f.input :material_id, as: :select, collection:  Material.all, prompt: "Select Material" %>
  <%= f.input :quantity, placeholder: 'Enter the number of pallet' %>
  <%= f.submit "Add this instruction to the Loading", class: "btn btn-gradient" %>
<% end %>
<% end %>

<%= link_to 'Waze', "https://waze.com/ul?q=66%20Acacia%20Avenue&ll=#{@loading.latitude},#{@loading.longitude}&navigate=yes", class: "btn btn-gradient"  %>




<div id="map"
    style="width:100%"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
