<div class="head_deliveries">
    <%= link_to delivery_path(Delivery.find(@loading.delivery_id)) do %>
      <%= icon('fa-solid', 'angles-left') %>
    <% end %>
    <h1><%= @loading.name %></h1>
</div>

<div class="container py-4">
  <div class="cards">
    <div class="card-delivery" style="margin-bottom: 20px">
      <div class="card-delivery-infos" style= "padding: 8px" >
        <p>
        <%= icon('fa-solid', 'location-dot') %> <%= @loading.address %>
        <% if current_user.function == "driver" %>
            <%= link_to "https://waze.com/ul?q=66%20Acacia%20Avenue&ll=#{@loading.latitude},#{@loading.longitude}&navigate=yes" do %>
              <%= icon('fa-brands', 'waze') %>
            <% end %>
        <% end %>
        </p>
        <% @loading.loadingmaterials.each do |loadingmaterial| %>
          <% if loadingmaterial.quantity > 0 %>
            <p>
              <%= icon('fa-solid', 'circle-arrow-up') %>
              <strong><%= loadingmaterial.quantity %></strong> pallets of <strong><%= loadingmaterial.material.name %></strong>
            </p>
          <%else %>
            <p>
              <%= icon('fa-solid', 'circle-arrow-down') %>
              <strong><%=  - loadingmaterial.quantity %></strong> pallets of <strong><%= loadingmaterial.material.name %></strong>
            </p>
          <%end %>
        <% end %>
            <div class="loading-check form-check form-switch" >
              <%= check_box_tag 'flexSwitchCheckChecked', @loading.id, @loading.done, class:"form-check-input",
                  data: {
                    remote: true,
                    url: url_for(action: :toggle, id: @loading.id),
                    method: "POST"
                  } %>
              <label class="form-check-label" for="flexSwitchCheckChecked">Complete</label>
            </div>
          <div>
        </div>
      </div>
    </div>
          <% if current_user.function == "manager" %>
    <div class="cards"style="margin: 20px 0">
      <div class="card-delivery">
        <div class="card-delivery-infos">
            <p>Material in the Truck</p>
            <% list = [] %>
            <% Loadingmaterial.where("loading_id <= #{@loading.id}").and(Loadingmaterial.where(loading: Loading.where(delivery_id: @loading.delivery))).each do |lm| %>
              <% material = lm.material.name.to_sym %>
              <% list << {"#{material}" => lm.quantity} %>
            <% end %>
            <% sum = Hash.new(0) %>
            <% list.each_with_object(sum) do |hash, sum|%>
              <% hash.each { |key, value| sum[key] += value }%>
            <% end %>
            <% sum.each do |material, value|%>
              <p><strong><%= value %></strong> palettes of <strong><%= material %></strong></p>
            <% end %>
            <p> <strong>Give the driver the materials to load/unload</strong>
            <%= simple_form_for([ @loading, @loadingmaterial ]) do |f| %>
              <%= f.input :material_id, as: :select, collection:  Material.all, prompt: "Select Material" %>
              <%= f.input :quantity, placeholder: 'Enter the number of pallet' %>
              <%= f.submit "Add this instruction to the Loading", class: "btn btn-gradient", style: "margin-top: 16px" %>
            <% end %>
      </div>
    </div>
  </div>
          <% end %>
</div>


<div id="map"
    style="width:100%"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
