
<div class="head_deliveries">
    <h1>your next delivery :</h1>
</div>
<div class="container py-4">
      <div class="cards">
        <% @deliveries.each do |delivery| %>
            <div class="card-delivery">
              <div class="card-delivery-infos">
                <h2>
                  <% if delivery.finished? %>
                    <%= icon('fa-solid', 'circle-check') %>
                  <% else %>
                    <%= icon('fa-solid', 'circle-xmark') %>
                  <% end %>
                  <%= delivery.name %>
                </h2>
                <p><%= delivery.startdate.strftime("%d/%m/%Y") %></p>
              </div>
                <%= link_to "Start delivery", delivery_path(delivery), class: "btn btn-gradient" %>
            </div>
        <% end %>
  </div>
</div>
