<div class="head_deliveries">
  <% if current_user.function == "manager" %>
    <%= link_to deliveries_path do %>
      <%= icon('fa-solid', 'angles-left') %>
    <% end %>
  <% else %>
    <%= link_to my_deliveries_path do %>
      <%= icon('fa-solid', 'angles-left') %>
    <% end %>
  <% end %>
</div>

<div class="container py-4">
  <div class="cards">
    <div class="card-delivery">
      <div class="card-delivery-infos">
        <h2>New Delivery</h2>
        <%= simple_form_for (@delivery) do |f| %>
          <%= f.input :name , as: :string %>
          <%= f.input :startdate, as: :date, order: [:day, :month, :year], label: 'Enter Start Date'%>
          <%= f.input :capacity , as: :integer, :placeholder => 'Enter the max number of pallet'%>
          <%= f.input :user_id , as: :select, :collection =>  User.all, prompt: "Select Driver", label: "Driver" %>
          <%= f.submit "Create Delivery", class: "btn btn-gradient", style: "margin-top: 16px" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
