<div class="container">
  <h1><%= @delivery.name %></h1>
    <div class="cards">
        <% Loading.where(delivery_id: @delivery).each do |loading| %>
        <div class="card-loading">
        <h2><%= loading.name %></h2>

        </div>
        <% end %>


    </div>
</div>

<%= link_to "Add a Loading", new_delivery_loading_path(@delivery), class: "btn btn-primary bottom" %>


<div id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
