
<div class="head_deliveries">
  <h1><%= @delivery.name %></h1>
  <div class="nav-item dropdown">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "My deliveries", my_deliveries_path, class: "dropdown-item" %>
      <%# if current_user.function == "manager" %>
      <%= link_to "Add a Loading", new_delivery_loading_path(@delivery), class: "dropdown-item" %>
      <%# end %>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="cards mb-3">
      <% Loading.where(delivery_id: @delivery).each do |loading| %>
        <%= link_to delivery_loading_path(@delivery, loading) do %>
          <% if loading.done? %>
            <div class="card-delivery" style="border-color:#a5e0a5;border-style:solid">
              <div class="card-delivery-infos">
                <h2><%= loading.name %></h2>
                <p> <%= loading.address.split(', ').last %></p>
                <p> <%= loading.date %></p>
              </div>
            </div>
          <% else  %>
            <div class="card-delivery" style="border-color:#dd8787;border-style:solid">
              <div class="card-delivery-infos">
                <h2><%= loading.name %></h2>
                <p> <%= loading.address.split(', ').last %></p>
                <p> <%= loading.date %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if Loading.where(delivery_id: @delivery).presence %>
    <div id="map"
        style="width:100%"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <% end %>
</div>
