
<div class="head_deliveries">
  <h1><%= @delivery.name %></h1>
  <div class="nav-item dropdown">
    <%= icon('fa-solid', 'caret-down', data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "My deliveries", my_deliveries_path, class: "dropdown-item" %>
      <%# if current_user.function == "manager" %>
      <%= link_to "Add a Loading", new_delivery_loading_path(@delivery), class: "dropdown-item" %>
      <%# end %>
    </div>
  </div>
</div>

<ul id="progress">
  <% Loading.where(delivery_id: @delivery).each_with_index do |loading, index| %>
    <% if index == 0 %>
      <% if loading.done? %>
        <% if Loading.where(delivery_id: @delivery)[index+1].done? %>
          <li>
            <div class="node green"></div>
            <div class="progress-info">
              <div class="divider green"></div>
              <h3>
                <%= loading.name %>
                <%= link_to delivery_loading_path(@delivery, loading) do %>
                  <%= icon('fa-solid', 'play') %>
                <% end %>
              </h3>
              <p><%= loading.address.split(', ').last %></p>
            </div>
          </li>
        <% else %>
          <li>
            <div class="node green"></div>
            <div class="progress-info">
              <div class="divider grey"></div>
              <h3>
                <%= loading.name %>
                <%= link_to delivery_loading_path(@delivery, loading) do %>
                  <%= icon('fa-solid', 'play') %>
                <% end %>
              </h3>
              <p><%= loading.address.split(', ').last %></p>
            </div>
          </li>
        <% end %>
      <% else %>
        <li>
          <div class="node grey"></div>
          <div class="progress-info">
            <div class="divider grey"></div>
            <h3>
              <%= loading.name %>
              <%= link_to delivery_loading_path(@delivery, loading) do %>
                <%= icon('fa-solid', 'play') %>
              <% end %>
            </h3>
            <p><%= loading.address.split(', ').last %></p>
          </div>
        </li>
      <% end %>
    <% elsif index < Loading.where(delivery_id: @delivery).count-1 %>
      <% if loading.done? %>
        <% if Loading.where(delivery_id: @delivery)[index+1].done? %>
        <li><div class="divider green"></div></li>
        <li>
          <div class="node green"></div>
          <div class="progress-info">
            <div class="divider green"></div>
            <h3>
              <%= loading.name %>
              <%= link_to delivery_loading_path(@delivery, loading) do %>
                <%= icon('fa-solid', 'play') %>
              <% end %>
            </h3>
            <p><%= loading.address.split(', ').last %></p>
          </div>
        </li>
        <% else %>
          <li><div class="divider green"></div></li>
          <li><div class="node green"></div>
            <div class="progress-info">
              <div class="divider grey"></div>
              <h3>
                <%= loading.name %>
                <%= link_to delivery_loading_path(@delivery, loading) do %>
                  <%= icon('fa-solid', 'play') %>
                <% end %>
              </h3>
              <p><%= loading.address.split(', ').last %></p>
            </div>
          </li>
        <% end %>
      <% else %>
        <li><div class="divider grey"></div></li>
        <li><div class="node grey"></div>
          <div class="progress-info">
            <div class="divider grey"></div>
            <h3>
              <%= loading.name %>
              <%= link_to delivery_loading_path(@delivery, loading) do %>
                <%= icon('fa-solid', 'play') %>
              <% end %>
            </h3>
            <p><%= loading.address.split(', ').last %></p>
          </div>
        </li>
      <% end %>
    <% elsif index == Loading.where(delivery_id: @delivery).count-1 %>
      <% if loading.done? %>
        <li><div class="divider green"></div></li>
        <li><div class="node green"></div>
          <div class="progress-info" style="margin-top:40px">
            <h3>
              <%= loading.name %>
              <%= link_to delivery_loading_path(@delivery, loading) do %>
                <%= icon('fa-solid', 'play') %>
              <% end %>
            </h3>
            <p><%= loading.address.split(', ').last %></p>
          </div>
        </li>
      <% else %>
        <li><div class="divider grey"></div></li>
        <li><div class="node grey"></div>
          <div class="progress-info" style="margin-top:40px">
            <h3>
              <%= loading.name %>
              <%= link_to delivery_loading_path(@delivery, loading) do %>
                <%= icon('fa-solid', 'play') %>
              <% end %>
            </h3>
            <p><%= loading.address.split(', ').last %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>


  <% if Loading.where(delivery_id: @delivery).presence %>
    <div id="map"
        style="width:100%"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <% end %>

</div>
